$cell_size: 100px;

$dates: (
  "28": 29,
  "29": 30,
  "30": 31,
);

$days_of_week: (
  ".calendar-tue": $cell_size + 1,
  ".calendar-wed": $cell_size * 2 + 2,
  ".calendar-thu": $cell_size * 3 + 3,
  ".calendar-fri": $cell_size * 4 + 4,
  ".calendar-sat": $cell_size * 5 + 5,
  ".calendar-sun": $cell_size * 6 + 6,
);

@each $date, $digit in $dates {
  .calendar-#{$date} div:nth-child(n+#{$digit}) {
    visibility: hidden;
  }
}

@for $i from 1 through 31 {

  .calendar div:nth-child(#{$i})::before {
    content: "#{$i}";
  }
}

.calendar div:nth-child(-n+31) {
  display: flex;
}

@each $current_day, $size in $days_of_week {
  #{$current_day} > div:first-child {
    margin-left: $size;
  }
}
